/* #header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#content {
  padding-bottom: 50px;
}

#footer {
  padding: 60px;
  text-align: center;
  background: grey;
  color: white;
  font-size: 30px;
} */

/* General Styles */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f4f4f4;
  color: #333;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background: url(https://images.pexels.com/photos/3095621/pexels-photo-3095621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat center center/cover;
  color: #fff;
  text-align: center;
}

.content {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 90px 0;
}

/* Footer */
.footer {
  background-color: #13171c;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  position: relative;
  width: 100%;
}

.footer a {
  font-size: 20px;
  color: #fff;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #d1d1d1;
}

/* Heading */
.heading {
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

/* Navigation Menu */
#block-icecream-theme-main-menu ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

#block-icecream-theme-main-menu ul li {
  padding: 15px 25px;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  background-color: #e6dada;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#block-icecream-theme-main-menu ul li:hover {
  color: #e6dada;
  background-color: #13171c;
  border-color: #e6dada;
}

/* Footer Menu */
#block-icecream-theme-footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

#block-icecream-theme-footer ul li a {
  color: #efefef;
  transition: color 0.3s ease;
}

#block-icecream-theme-footer ul li a:hover {
  color: #d1d1d1;
}
